* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-home {
  align-items: center;
  background-color: #003be5;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 8rem;
  justify-content: space-around;
  width: 100%;
}

.textos-header {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 33%;
}

.carrinho {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 20rem;
}

.circle-carrinho {
  align-items: center;
  background-color: #30c991;
  border-radius: 100%;
  bottom: 10px;
  display: flex;
  height: 23.69px;
  justify-content: center;
  left: -15px;
  position: relative;
  width: 24px;
}

.number-carrinho {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.search {
  align-items: center;
  display: flex;
}

.input-search {
  background-color: white;
  border: 1px solid white;
  height: 25px;
  outline: none;
  text-align: center;
  width: 250px;
}

.button-search {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 3.75px;
  position: relative;
  right: 25px;
}

.div-list-categoria {
  align-items: flex-start;
  background-color: white;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 60rem;
  justify-content: center;
  margin-left: 20px;
  width: 20rem;
}

.div-list-categoria > p {
  color: black;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.button-category {
  background: none;
  border: none;
  color: #444955;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 10px;
}

section {
  display: flex;
}

.div-produtos {
  background-color: #ececec;
  text-align: center;
  width: 98rem;
}

.texts-no {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50rem;
  justify-content: center;
  width: 95rem;
}

.no-search {
  color: #32c991;
  font-family: Epilogue , sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  height: 68px;
  letter-spacing: 0.055em;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  width: 351px;
}

.no-products {
  color: #989ba0;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 42px;
  line-height: 20px;
  margin-top: 10px;
  text-align: center;
  width: 347px;
}

.produtos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 95rem;
}

.card-produto {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2.759px 2.759px 5.518px rgba(0, 0, 0, 0.05);
  height: 358.7px;
  width: 279.6px;
}

.button-add {
  background-color: #30c991;
  border: none;
  color: white;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  height: 38.63px;
  outline: none;
  text-align: center;
  width: 244.65px;
}

.button-detalhes {
  border: none;
  color: black;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin: 10px;
  outline: none;
  text-align: center;
  text-decoration: none;
}
